<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello BsnWeb!</title>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDnPCkQMDmfgneX6juLvQ6rjBF98lyG5T0"></script>
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	<!--<script src="/js/view-trip.js" ></script>-->


  </body>
</html>
login.html.eex