#registration-page{
	background-image: url('/images/login-background.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 100px;
	padding-left: 1100px;
	color: black;
}
.inner-registration-page{
	width: 300px;
}