.find-trip{
margin-top: 80px;
margin-left: 450px;
}
.find-trip input, .find-trip button{
	padding: 10px;
}
#find-trip-location{
	width: 300px;
}
.find-trip-form input{
	display: inline;
	width: auto;
	height: 100%;
	border-radius: 0px;
	background-color: white;
	border: 1px solid #ccc;
}
.menu-left{
	transform: rotate(-90deg);
	transform-origin: left top 0;
	background-color: orange;
	  color: white;
	  position: fixed;
	  font-weight: bold;
	  top: 350px;
	  left: 0px;
	  padding: 10px 20px 10px 20px;
}
.menu-left:hover{
  cursor: pointer;
}

.menu-left a{
  color: white;
  text-decoration: none;
}

#trip-near-you{
padding-top: 60px
}	
.trip-near-you-header{
	display: flex;
	 justify-content: space-between;
}
.trip-near-you-header h2{
	margin-top: 0px;
}
.trip-near-you-header button{
	border: 2px solid orange;
	background-color: white;
	padding-right: 10px;
	padding-left: 10px;
}
.trip-item-list{
	display: flex;
	flex-wrap: wrap;

}
.trip-item{
	width: 230px;
	height: auto;
	border: 1px solid #C0C0C0;
	margin-bottom: 30px;
	margin-right: 50px;
}
.trip-item img{
	width: 228px;
	height: 150px;
}
.trips-list hr{
	border-top: 2px solid #eee;
}
.trip-item-element{
	margin-left: 10px;
	margin-right: 10px;
  margin-bottom: 5px;
}
.trip-item hr{
	margin-top: 5px;
	margin-bottom: 5px;
}
.trip-item:hover{
	cursor: pointer;
}
.trip-link{
	visibility: hidden;
}
.leader-name{
  color: black;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 10px;
}
#myModal{
  top: 15%;
  color: grey;
}
#myModal .modal-dialog{
    width: 30%;
}
.form-top h4{
  border-bottom: 1px solid #E7EAEC;
  padding-bottom: 10px;
  color: #696969;
}
.modal-header{
  background-color: #545B63;
  color: white;
}
.modal-body{
  background-color: #E7EAEC;
}
.modal-footer{
  background-color: #E7EAEC;
}
.new-trip-form fieldset{
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}
ul.vehicle-list  {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  list-style: none;
}
ul.vehicle-list li input {
  margin-right: .25em;
}

ul.vehicle-list li {
  border: 1px transparent solid;
  display:inline-block;
  width:12em;
}
.vehicle-list .radio{
  margin-top: 0px;
  margin-bottom: 0px;
}
.form-group-70  {
  width: 70% !important;
}
/*.modal-content{
  position: static;
  border: 0px 
}*/
#myModal-body input{
    border: 2px solid transparent;
    border-bottom: 2px solid #E6E6FA;
    box-shadow: none;
    background: transparent;
    padding: 5px 5px 5px 5px;
    width: 100%
  }
#myModal-body input:focus{
    border-bottom: 2px solid blue;
}
.address-list {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}
form.new-trip-form{
  margin-top: 0px;
  margin-bottom: 0px;
}
/*for autocomplete box*/
.address-item{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.address-item span{
 padding-left:5px; 
 padding-right:5px; 
 color:#c0c0c0;
}